<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/hello :: link}">a</th:block>
    <title>Books</title>
</head>
<body>
<div th:replace="~{/hello :: navbar}"></div>
<div style="padding:20px;margin-top:40px;">
    <a href="/books/show/page/0">Show all</a>
    <form th:action="@{/books/show/search}" method="get">
        <label for="name">Search book:</label>
        <input type="text" name="name" id="name" th:value="${name}"/>
        <input type="submit" value="Search"/>
    </form>
</div>
<table>
    <caption>RESULTS</caption>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Genre</th>
        <th scope="col">Count</th>
    </tr>

    <th:block th:each="book:${list}">
        <tr th:each="author:${book.authors}">
            <td th:text="${book.getBookId}">id</td>
            <td th:text="${author.name+author.surname}">name</td>
            <td th:text="${book.getTitle}">title</td>
            <td th:text="${book.getDescription}">description</td>
            <td th:text="${book.getGenre}">genre</td>
            <td th:text="${book.getCount}">count</td>
        </tr>
    </th:block>
</table>


</body>
</html>