<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{/hello :: link}">a</th:block>
    <title>Books</title>
</head>
<body>
<div th:replace="~{/hello :: navbar}"></div>
<div style="padding:20px;margin-top:40px;">
    <form th:action="@{/books/show/search}" method="get">
        <label for="name">Search book:</label>
        <input type="text" name="name" id="name" th:value="${name}"/>
        <input type="submit" value="Search"/>
    </form>
    <form th:action="@{/books/show/popular}" method="get">
        <label for="name">Sort by popularity(popular-unpopular):</label>
        <input type="submit" value="Sort"/>
    </form>
    <form th:action="@{/books/show/unpopular}" method="get">
        <label for="name">Sort by popularity(unpopular-popular):</label>
        <input type="submit" value="Sort"/>
    </form>
</div>
<table>
    <caption>BOOKS</caption>
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Author</th>
        <th scope="col">Title</th>
        <th scope="col">Genre</th>
        <th scope="col">Count</th>
    </tr>

    <th:block th:each="book:${books}">
        <tr th:each="author:${book.authors}">
            <td><a target="_blank" th:text="${book.getBookId()}" th:href="@{/books/show/{id}(id=${book.getBookId()})}">id</a>
            </td>
            <td th:text="${author.name+author.surname}">name</td>
            <td th:text="${book.getTitle}">title</td>
            <td th:text="${book.getGenre}">genre</td>
            <td th:text="${book.getCount}">count</td>
        </tr>
    </th:block>
</table>
<a th:if="${pageNum>0}" th:href="@{/books/show/page/{pageNum}(pageNum=${previous})}">Previous</a>
<a th:if="${!isEmpty}" th:href="@{/books/show/page/{next}(next=${next})}">Next</a>
</body>
</html>