<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/resources/navibar.css" type="text/css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>navibar</title>
</head>
<body>
<ul th:fragment="navbar(user)" class="box">
    <li class="active" style="float: left"><a th:href="@{/}">LIBRARY</a> </li>
    <li><p class="active" th:text="${user}"></p></li>
    <li><a th:href="@{/registration}">REGISTRATION</a></li>
    <li><a th:if="${user == 'anonim'}" th:href="@{/login}">LOGIN</a></li>
    <li>
        <form th:if="${user != 'anonim'}" th:action="@{/logout}" method="post">
            <input type="submit" value="LOGOUT">
        </form>
    </li>
</ul>
</body>
</html>